<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 26 June 2026, 10:50</p>
            <h2><a href="">My first post</a></h2>
            <p>Documento de servicio publico que relata creación de algo poco comun pero muy interesante...</p>
        </div>

        <div>
            <p>published: 26 June 2026, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Segunda parte coming soon..</p>
        </div>
    </body>
</html>